body {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: sans-serif;
	color: white;
	background: black;
	-webkit-font-smoothing: antialiased;
}

menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	/* mix-blend-mode: difference; */
}

ul {
	list-style: none;
}

li {
	position: relative;
	margin-bottom: 0.5em;
}

li.active:before {
	content: "• ";
	display: inline-block;
	position: absolute;
	top: 0;
	right: 100%;
	font-size: 200%;
	line-height: 50%;
	margin-right: 0.25em;
}

a {
	color: currentColor !important;
	text-decoration: none;
}

[ui-view="main"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	will-change: transform;
}

[ui-view="main"] .wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
}

[ui-view="main"] .wrapper h1 {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

[ui-view="main"][data-transition="css"].gsapify-router-in-setup {
  transform: translateX(100%);
}

[ui-view="main"][data-transition="css"].gsapify-router-in {
  transform: translateX(0);
  transition: transform 1s;
}

[ui-view="main"][data-transition="css"].gsapify-router-out {
  transform: translateX(-100%);
  transition: transform 1s;
}
